* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #040404;
    padding: 40px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* Project Card */
.project-card {
    background: #590065;
    padding: 25px;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(100, 1, 105, 0.3);
}

.project-card h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.project-card p {
    font-size: 1.2rem;
    opacity: 0.90;
    margin-bottom: 15px;
}

.tech {
    font-size: 1.3rem;
    color: #38bdf8;
}

/* Hover Effect */
.project-card:hover {
    transform: translateY(-8px);
    background: #012125;
    box-shadow: 0px 20px 40px rgba(56,189,248,0.9);
}
