@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bodoni Moda", serif;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-image: url("https://images.unsplash.com/photo-1767818375257-2d1f80c28c82?q=80&w=1880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.counter_APP{
    width: 500px;
    min-height:200px;
    background-color: rgb(255, 0, 166);
    margin:50px;
}
.counter_APP h2{
    text-align: center;
    padding: 10px;
}
.buttons{
    background-color: bisque;
    width: 70%;
}
label{
    background-color: rgb(0, 243, 162);
    padding: 20px;
    font-size: 2rem;
    border-radius: 10px;
}
.buttons{
    text-align: center;
    padding: 30px;
    width: 60%;
    background-color: aliceblue;
}
button{
    padding: 10px;
    margin:3px;
    border-radius: 10px;
    background-color: brown;
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: blueviolet;
}