*{
    margin: 0px;
    padding: 0px auto;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 109, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.countdown{
    width: 300px;
    height: 100px;
    background-color: aliceblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}